<p id="notice"><%= notice %></p>

<h1>Listing Avswitches</h1>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Mac</th>
      <th>Serial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avswitches.each do |avswitch| %>
      <tr>
        <td><%= avswitch.model %></td>
        <td><%= avswitch.mac %></td>
        <td><%= avswitch.serial %></td>
        <td><%= link_to 'Show', avswitch %></td>
        <td><%= link_to 'Edit', edit_avswitch_path(avswitch) %></td>
        <td><%= link_to 'Destroy', avswitch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Avswitch', new_avswitch_path %>
