<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @avswitch.model %>
</p>

<p>
  <strong>Mac:</strong>
  <%= @avswitch.mac %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @avswitch.serial %>
</p>

<%= link_to 'Edit', edit_avswitch_path(@avswitch) %> |
<%= link_to 'Back', avswitches_path %>
