<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @panel.model %>
</p>

<p>
  <strong>Serail:</strong>
  <%= @panel.serail %>
</p>

<p>
  <strong>Mac:</strong>
  <%= @panel.mac %>
</p>

<%= link_to 'Edit', edit_panel_path(@panel) %> |
<%= link_to 'Back', panels_path %>
