<%= form_for(@doccam) do |f| %>
  <% if @doccam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doccam.errors.count, "error") %> prohibited this doccam from being saved:</h2>

      <ul>
      <% @doccam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :make %><br>
    <%= f.text_field :make %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :serial %><br>
    <%= f.text_field :serial %>
  </div>
  <div class="field">
    <%= f.label :wtag %><br>
    <%= f.text_field :wtag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
