<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @computer.name %>
</p>

<p>
  <strong>Wtag:</strong>
  <%= @computer.wtag %>
</p>

<p>
  <strong>Make:</strong>
  <%= @computer.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @computer.model %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @computer.serial %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
