<p id="notice"><%= notice %></p>

<h1>Listing Interactivekits</h1>

<table>
  <thead>
    <tr>
      <th>Serial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interactivekits.each do |interactivekit| %>
      <tr>
        <td><%= interactivekit.serial %></td>
        <td><%= link_to 'Show', interactivekit %></td>
        <td><%= link_to 'Edit', edit_interactivekit_path(interactivekit) %></td>
        <td><%= link_to 'Destroy', interactivekit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interactivekit', new_interactivekit_path %>
