<p id="notice"><%= notice %></p>

<h1>Listing Mediaplayers</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Make</th>
      <th>Serial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mediaplayers.each do |mediaplayer| %>
      <tr>
        <td><%= mediaplayer.type %></td>
        <td><%= mediaplayer.make %></td>
        <td><%= mediaplayer.serial %></td>
        <td><%= link_to 'Show', mediaplayer %></td>
        <td><%= link_to 'Edit', edit_mediaplayer_path(mediaplayer) %></td>
        <td><%= link_to 'Destroy', mediaplayer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mediaplayer', new_mediaplayer_path %>
